PBRMaterial(
    main_texture:(
        path:"white.png",
        format:RGB,
        ),
    roughness_texture:(
        path:"white.png",
        format:RGB,
        ),
    normal_texture:(
        path:"white.png",
        format:RGB,
        ),
    roughness:1,
    metallic:1,
    color:(1,1,1,1,),
)